@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@font-face {
	font-family: VFont;
	src: url('fonts/VFont.otf');
}

* {
	font-family: 'Source Sans Pro', Arial;
	padding: 0;
	margin: 0;
	transition: background-color 0.2s;
}

body {
	overflow-x: hidden;
	background-size: 100% 100%;
}

body.day {
	background-color: #BCCAD9;
}

body.night {
	background-color: #3c4a59;
}

a {
	text-decoration: none;
	color: #1c2a39;
}

body.night a {
	color: cadetblue;
}

.header {
	display: flex;
	flex-direction: row;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	background: #1c2a39;
	padding: 10px;
	z-index: 10;
	width: 100vw;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header i {
	color: white;
	cursor: pointer;
	opacity: 0.7;
	transition: 0.2s;
	font-size: 25px;
	margin: 10px;
}

.header i:hover {
	opacity: 1.0;
}

.falseone {
	opacity: 0.0;
}

.footer {
	color: white;
	background: #4c5a69;
	padding: 50px;
}

.trueone {
	position: fixed;
	width: 100vw;
}

.logo {
	padding: 10px;
	margin: 0 auto;
	border-radius: 4px;
	font-weight: bold;
	color: #1c2a39;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	transition: 0.2s;
	background-color: #1c2a39;
	color: white;
}

.logo i {
	font-size: 50px;
	opacity: 1;
}

.logo.day {
	color: white;
}

.logo.night {
	color: black;
}

#menu {
	width: 0px;
	position: fixed;
	height: 100%;
	max-height: 100%;
	max-width: 360px;
	background-color: rgba(92, 106, 121, 0.95);
	display: flex;
	justify-content: flex-start;
	flex-flow: column;
	align-content: flex-start;
	font-size: 20px;
	z-index: 11;
	overflow: hidden;
	cursor: pointer;
	padding: 10px;
	color: white;
	transition: width 0.2s;
	bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#close {
	align-self: flex-end;
	margin-right: 5px;
	margin-bottom: 10px;
	transition: 0.2s;
}

.elements {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-flow: column;
	margin-top: 10px;
	width: 320px;
	min-width: 320px;
	height: 50%;
}

.element {
	display: block;
	background-color: rgba(52, 73, 94, 0.5);
	padding: 10px;
	border-radius: 5px;
	width: 100%;
}

#linkcontainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	margin: 25px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.linktovideo {
	background-size: 100% 100%;
	border-radius: 10px;
	width: 100%;
	overflow: hidden;
	padding-top: 10px;
}

.linktovideo.day {
	background-color: white;
}

.linktovideo.night {
	background-color: rgba(28, 42, 57, 0.7);
}

.linktovideo span {
	padding: 10px;
	background-color: rgba(0,0,0,0.7);
	width: auto;
	border-radius: 0 0 5px 0;
	color: white;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
	.container {
		width: 91.5%;
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 auto;
	}
	
	
	#linkcontainer {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	
	.linktovideo {
		margin-bottom: 15px;
		padding-top: 5px;
	}
	
	.linktovideo span {
		font-size: 12px;
	}
	
	.infos {
		flex-flow: column-reverse;
		align-content: flex-start;
		align-items: flex-start;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.infos #episodename {
		margin-bottom: 5px;
	}
	
	.video {
		width: 98%;
	}
	
	#non-util-settings {
		display: none;
	}
	
	.header i {
		font-size: 24.9px;
	}
	
	.logo i {
		font-size: 40px;
	}
}

@media screen and (max-device-width: 767px) and (orientation: portrait) {
	.header {
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		font-size: 15px;
	}

	.header i {
		font-size: 20px;
		font-size: 24.9px;
	}

	.logo i {
		font-size: 30px;
		font-size: 50px;
		opacity: 1;
	}

	.falseone span {
		display: none;
	}

	#menu {
		max-width: 100%;
	}

	.elements {
		height: 50%;
	}

	.element {
		width: 100%;
	}
 } 