@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@font-face {
	font-family: VFont;
	src: url('fonts/VFont.otf');
}

* {
	font-family: 'Source Sans Pro', Arial;
	padding: 0;
	margin: 0;
	transition: background-color 0.2s;
}

body {
	overflow-x: hidden;
	background-size: 100% 100%;
}

body.day {
	background-color: #BCCAD9;
}

body.night {
	background-color: #3c4a59;
}

a {
	text-decoration: none;
	color: #1c2a39;
}

a.night {
	color: cadetblue;
}

.header {
	display: flex;
	flex-direction: row;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	background: #1c2a39;
	padding: 17.5px;
	z-index: 10;
	width: 100vw;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header i {
	color: white;
	cursor: pointer;
	opacity: 0.7;
	transition: 0.2s;
	font-size: 25px;
	margin: 10px;
}

.header i:hover {
	opacity: 1.0;
}

.footer {
	color: white;
	font-weight: bold;
	background: #4c5a69;
	padding: 50px;
}

.trueone {
	position: fixed;
}

.logo {
	padding: 10px;
	margin: 0 auto;
	border-radius: 4px;
	font-weight: bold;
	color: #1c2a39;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	transition: 0.2s;
}

.logo.day {
	background-color: white;
}

.logo.night {
	background-color: #3c4a59;
	color: white;
}

.logo:hover {
	background-color: #1c2a39;
	color: white;
}

#menu {
	width: 0px;
	position: fixed;
	height: 100%;
	max-height: 100%;
	max-width: 360px;
	background-color: rgba(92, 106, 121, 0.95);
	display: flex;
	justify-content: flex-start;
	flex-flow: column;
	align-content: flex-start;
	font-size: 20px;
	z-index: 11;
	overflow: hidden;
	cursor: pointer;
	padding: 10px;
	color: white;
	transition: width 0.2s;
	bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#close {
	align-self: flex-end;
	margin-right: 5px;
	margin-bottom: 10px;
	transition: 0.2s;
}

.elements {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-flow: column;
	margin-top: 10px;
	width: 320px;
	min-width: 320px;
	height: 92%;
}

.element {
	display: block;
	background-color: #2c3e50;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
}

.container {
	margin: 0 auto;
	width: 640px;
	padding: 10px;
	padding-top: 15px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 10px;
}

.container.day {
	background-color: white;
}

.container.night {
	background-color: rgba(28, 42, 57, 0.7);
	color: white;
}

.separation {
	margin-bottom: 20px;
}

.video {
	margin-top: 20px;
}

#seriesname {
	display: flex;
	flex-direction: row;
	flex-flow: row;
	justify-content: space-between;
	font-size: 20px;
	padding: 10px;
	background-color: #1c2a39;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

section {
	margin-bottom: 10px;
}

.infos {
	display: flex;
	flex-flow: row-reverse;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.infos span {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

.infos span span {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-left: 3px;
}

#episode {
	margin-bottom: 3px;
	font-size: 10px;
	color: white;
	padding: 5px;
	border-radius: 3px;
	background-color: #3c4a59;
}

#subscribe {
	padding: 5px;
	font-size: 10px;
	border-radius: 3px;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	min-width: 41px;
	min-height: 15px;
	transition: 0.2s;
}

.ho {
	background-color: darkred;
	color: white;
}

#episodename {
	font-size: 25px;
	font-weight: 300;
}

#description {
	font-size: 15px;
	padding: 20px;
	border-radius: 10px;
}

#description.day {
	background-color: #ecf0f1;
}

#description.night {
	background-color: #1c2a39;
}

.indesc.day {
	color: black;
}

.indesc.night {
	color: white;
}

.thtRocks {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}

.thtDesc {
	visibility: hidden;
	font-size: 15px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    padding: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
    border-radius: 3px;
	margin-top: 40px;
	
    position: absolute;
    z-index: 1;
}

.thtRocks:hover .thtDesc {
	visibility: visible;
}